<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Place" (change)="giveSelectedData($event)" [(ngModel)]="selectedPlace" name="sPlace" aria-label="State" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let place of filteredPlaces | async" [value]="place.name" (click)="giveSelectedData($event);">
        <span>{{place.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>
</form>
